.search__toolbar-section {
    position: absolute;
    top: 0;
    left: 100px;
    border-left: 1px solid #b2b0b0;
    width: 300px;
    padding: 20px 10px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1001;
}
.search__radius-field {
    width: 30%;
}
.search__button-container {
    padding-top: 20px;
}
.search__button {
    width: 95%;
    height: 50px;
}